# Скопируйте в .env и заполните. .env не коммитится (в .gitignore).
# Эти значения нужны локально и в GitHub Secrets для lab2.

# --- GitHub ---
GITHUB_USERNAME=Iangalin
GITHUB_REPO=2025_2026-introduction-in-web-tech-U4255-yangalin_i_a
GITHUB_REPO_URL=https://github.com/Iangalin/2025_2026-introduction-in-web-tech-U4255-yangalin_i_a

# --- Docker Hub (lab2) ---
# В GitHub Secrets положите как DOCKER_USERNAME и DOCKER_PASSWORD
DOCKER_USERNAME=gamarjobs
DOCKER_PASSWORD=                       # Personal Access Token, НЕ пароль! Создан 2026-05-05, описание github-actions-itmo-web-tech
DOCKER_IMAGE=my-flask-app
DOCKER_IMAGE_FULL=gamarjobs/my-flask-app

# --- Личные данные для шапок отчётов ---
STUDENT_GROUP=U4255
STUDENT_FULLNAME_RU=Янгалин Ислам Азаматович
STUDENT_FULLNAME_EN=Yangalin Islam Azamatovich

# --- Прогресс ---
PROGRESS_SHEET=https://docs.google.com/spreadsheets/d/17XnPjtYCC_3Cw1d8gfghYeVWxrSZsmmWMxo51rpmL2Y/edit?usp=sharing
